@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
